/* Estilos para a página */
#titulo {
    color: #333;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 5px;
}

ol {
    padding-left: 20px;
}

ol li {
    margin-bottom: 5px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
